<div class="mc-label">
  <span class="mc-label-cursive">Célia</span>
  <span class="mc-label-math">.MATH</span>
</div>
<div class="center">
  <div id="labs-container" class="labs-container">
    <row class="labs-row">
      <img id="labs-l-icon" src="/assets/function.svg">
      <span id="labs-label" class="labs-label"></span>
    </row>
    <p id="labs-formula" class="labs-formula"></p>
    <div id="labs-desc" class="labs-desc"></div>
    <div id="labs-form" class="labs-form"></div>
    <div id="labs-sol" class="labs-sol"> 
      <span class="labs-form-label">Solução</span>
      <div id="labs-answer" class="labs-answer"></div>
    </div>
  </div>
  <button class="col-label">Áreas</button>
  <div class="col-content">
    <row class="cc-row" onclick="openQuadrado()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Quadrado</span>
    </row>
    <row class="cc-row" onclick="openRetangulo()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Retângulo</span>
    </row>
    <row class="cc-row" onclick="openTriangulo()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Triângulo</span>
    </row>
    <row class="cc-row" onclick="openLosango()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Losango</span>
    </row>
    <row class="cc-row" onclick="openTrapezio()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Trapézio</span>
    </row>
    <row class="cc-row" onclick="openPoligonoRegular()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Polígono Regular</span>
    </row>
    <row class="cc-row" onclick="openCirculo()">
      <img src="/assets/cube.svg">
      <span class="cc-label">Círculo</span>
    </row>
  </div>
</div>

<script>
  var coll = document.getElementsByClassName("col-label");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
</script>
<script src="/scripts/formulas/areas.js"></script>
<script src="/scripts/formulaBox.js"></script>