<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CéliaMath</title>
    <link href="/style/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
      <div>
      </div>
    </header>
    <main>
    </main>
  </body>
</html>