<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Célia.Math</title>
    <meta name="description" content="O Célia.Math é uma plataforma de fácil acesso projetada para simplificar o processo de cálculos matemáticos no seu navegador. Com sua interface amigável e intuitiva, ele se torna uma ferramenta essencial para estudantes, professores e entusiastas da matemática que desejam resolver equações e fórmulas de forma rápida e eficiente.">

    <meta itemprop="name" content="Célia.Math">
    <meta itemprop="description" content="O Célia.Math é uma plataforma de fácil acesso projetada para simplificar o processo de cálculos matemáticos no seu navegador. Com sua interface amigável e intuitiva, ele se torna uma ferramenta essencial para estudantes, professores e entusiastas da matemática que desejam resolver equações e fórmulas de forma rápida e eficiente.">
    <meta itemprop="image" content="http://media.discordapp.net/attachments/786213920917422130/1162399647852150814/cm-2.png">

    <meta property="og:url" content="https://celia.math">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Célia.Math">
    <meta property="og:description" content="O Célia.Math é uma plataforma de fácil acesso projetada para simplificar o processo de cálculos matemáticos no seu navegador. Com sua interface amigável e intuitiva, ele se torna uma ferramenta essencial para estudantes, professores e entusiastas da matemática que desejam resolver equações e fórmulas de forma rápida e eficiente.">
    <meta property="og:image" content="http://media.discordapp.net/attachments/786213920917422130/1162399647852150814/cm-2.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Célia.Math">
    <meta name="twitter:description" content="O Célia.Math é uma plataforma de fácil acesso projetada para simplificar o processo de cálculos matemáticos no seu navegador. Com sua interface amigável e intuitiva, ele se torna uma ferramenta essencial para estudantes, professores e entusiastas da matemática que desejam resolver equações e fórmulas de forma rápida e eficiente.">
    <meta name="twitter:image" content="http://media.discordapp.net/attachments/786213920917422130/1162399647852150814/cm-2.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Teko&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="/styles/home.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/col.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/media.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="v-nav-container" class="v-nav-container">
      <img class="v-nav-icon" src="/assets/functions.svg">
      <img class="v-nav-icon" src="/assets/info.svg">
    </div>
    <div class="mobile-topbar">
      <div>
        <span class="mt-label-cursive">Célia</span>
        <span class="mt-label-math">.MATH</span>
      </div>
      <img id="mt-button" class="mt-icon" src="/assets/menu.svg">
    </div>
    <div id="h-nav-container" class="h-nav-container">
      <div class="h-nav-topbar">
        <!--img id="h-nav-close" src="/assets/close.svg"-->
        <!--input></input-->
        <span id="h-nav-close">FECHAR</span>
      </div>
      <div class="h-nav-content">
        <div class="h-nav-separator">
          <span class="h-nav-label">Fórmulas</span>
          <img class="h-nav-s-icon" src="/assets/arrow_forward.svg">
        </div>
        <div class="h-nav-separator">
          <span class="h-nav-label">Sobre</span>
          <img class="h-nav-s-icon" src="/assets/arrow_forward.svg">
        </div>
      </div>
    </div>
    <main id="main-container">
      <%if(req.query.page == "formulas") {%>
        <%-include("formulas.ejs")%>
      <%} else if(req.query.page == "sobre") {%>
        <%-include("sobre.ejs")%>
      <%} else {%>
        <%-include("formulas.ejs")%>
      <%}%>
    </main>
  <script src="/scripts/mobilemenu.js"> </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>