.col-label {
  background-color: #80B3FF;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 85vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.2s;
}

.col-label:hover {
  background-color: #687EFF;
}

.col-label:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.col-content {
  width: 85vw;
  padding: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.cc-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px 18px 5px 18px;
  gap: 5px;
  cursor: pointer;
  transition: background 0.2s
}

.cc-row img {
  width: 24px;
  height: 24px;
}

.cc-row:hover {
  background: #dadada;
}

.cc-row.disabled {
  text-decoration: line-through;
  color: red;
}

.cc-row.disabled:hover {
  
}

.cc-label:hover {
  text-decoration: underline;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labs-container {
  display: none;
  flex-direction: column;
  background: #f1f1f1;
  width: 83.65vw;
  padding: 15px 10px;
  margin-bottom: 20px;
  gap: 20px; 
}

.labs-row {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 5px;
  justify-content: space-between;
}

#labs-close {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .99rem;
  line-height: .99rem;
  letter-spacing: .2px;
  margin-right: 15px;
  cursor: pointer;
}

.labs-label {
}

#labs-l-icon {
  width: 30px;
  height: 30px;
}

.labs-formula {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 35px;
  padding: 7px 18px 10px 15px;
  border: 1px solid #687EFF;
  color: #687EFF;
  width: fit-content;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*align-items: center;*/
}

.labs-formula span {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 20px;
  color: #687EFF;
  padding-right: 7px;
}

.frac-top {
  border-bottom: 2px solid #687EFF;
}

.labs-desc-row {
  display: flex;
  align-items: center;
}

.labs-desc {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 5px;
  margin-left: 10px;
}

.labs-desc-icon {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  color: #687EFF;
  width: 20px;
}

.labs-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 5px;
  width: fit-content;
}

.labs-form-label {
  text-transform: uppercase;
  font-size: 14px;
  /*line-height: .75rem;*/
  color: #687EFF;
  margin-right: 10px;
}

.labs-form-input {
  width: 200px;
  margin-left: auto;
}

.labs-form-submit {
  border: none;
  background: #80B3FF;
  color: white;
  width: 256px;
  margin-top: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s
}

.labs-form-submit:hover {
  background: #687EFF;
}

.labs-sol {
  margin-left: 10px;
  display: none;
  align-items: center;
  padding: 10px;
  overflow-y: hidden;
  gap: 10px;
}

.labs-answer {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 35px;
  padding: 7px 18px 10px 15px;
  border: 1px solid #687EFF;
  color: #687EFF;
  width: fit-content;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*align-items: center;*/
}

.labs-answer span {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 20px;
  color: #687EFF;
  padding-right: 7px;
}

.labs-answer row {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 20px;
  color: #687EFF;
  padding-right: 7px;
  gap: 10px;
}