*, html, body {
  margin: 0;
  /*font-family: 'Pacifico', cursive;
  font-family: 'Teko', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.v-nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: fit-content;
  background: #687EFF;
  padding: 15px 0px 15px 0px;
  gap: 15px;
  align-items: center;
  max-width: fit-content;
  transition: max-width 0.2s ease-out;
}

.v-nav-able {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.v-nav-container row {
  justify-content: left;
  gap: 10px;
  cursor: pointer;
  transition: background 0.2s;
  padding: 0px 15px 0px 15px;
}

.v-nav-container row:hover {
  background: #80B3FF;
}

.vnc-hover {}
.vnc-hover-rearrange {
  width: 81.5%;
}

.v-nav-label {
  color: white;
}

.v-nav-icon {
  filter: invert(1);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mobile-topbar {
  display: none;
  position: fixed;
  width: 100vw;
  height: fit-content;
  background: #687EFF;
  gap: 0;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
}

.mt-label-cursive {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: white;
}

.mt-label-math {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  color: white;
  margin-left: -6px;
}

.mt-icon {
  filter: invert(1);
  width: 50px;
  width: 50px;
  margin-right: 25px;
  cursor: pointer;
}

.h-nav-container {
  transform: translateX(100%);
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.3s ease; 
}

.h-nav-container.active {
  transform: translateX(0);
}

.h-nav-topbar {
  display: flex;
  justify-content: right;
  height: 71.2px;
  align-items: center;
  padding: 5px 10px 5px 10px;
  background: #687EFF;
}

/*#h-nav-close {
  filter: invert(1);
  width: 50px;
  width: 50px;
  cursor: pointer;
}*/

#h-nav-close {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .99rem;
  line-height: .99rem;
  letter-spacing: .2px;
  margin-right: 15px;
  cursor: pointer;
}

.h-nav-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h-nav-separator {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  cursor: pointer;
}

.h-nav-label {
  font-size: 20px;
}

.h-nav-s-icon {
  
}

#main-container {
  height: 100vh;
  width: 91.2vw;
  padding: 25px;
  padding-left: 180px;
  display: flex;
  flex-direction: column;
}

.mc-label {
  margin-bottom: 10px;
}

.mc-label-cursive {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  color: #687EFF;
}

.mc-label-math {
  font-family: 'Teko', sans-serif;
  font-size: 80px;
  color: #80B3FF;
  margin-left: -6px;
}
