@media (max-width: 1280px) {
  .v-nav-container {
    display: none;
  }
  .mobile-topbar {
    display: flex;
  }
  #main-container {
    width: 90%;
    padding: 20px;
    padding-top: 91px;
  }
  .labs-container {
    width: 86vw;
  }
  .labs-form-submit {
    width: 97%;
    align-self: center;
    margin-left: -10px;
  }
  .col-content {
    width: 82vw;
  }
  .cc-row {
    width: 86vw;
  }
}